<form action="/" method="POST">
    <input type="text" name="info[name]" placeholder="resident name" >
    <input type="text" name="info[cluster]" placeholder="cluster" >
    <input type="text" name="info[room]" placeholder="room" >
    <input type="text" name="info[key]" placeholder="key returned?" >
    <input type="text" name="info[car]" placeholder="car park fob returned?" >
    <input type="text" name="info[laundry]" placeholder="laundry card" >
    <input type="text" name="info[agentmsg]" placeholder="agent msg" >
    <button>submit</button>
</form>